<div class="modal-header">
	<h4 class="modal-title">环节扩展功能</h4>
</div>
</br>
</br>
<div class="col-md-12" style="overflow-x:hidden;overflow-y:auto;" >
	<div id="isa-tacheExetend" class="row">
		<div class="col-md-6" style="height:80px">
                <div class="form-group">
                    <label class="col-md-4 control-label"><b>是否需要到单提醒</b></label>
                    <div class="col-md-8 input-group">
                         <select name="needNote" id="needNote" class="form-control">
                        	 <option value=""  selected="selected"></option>
		                    <option value="0"  >需要</option>
		                    <option value="1">不需要</option>
	                  	</select>
                    </div>
                </div>
            </div>
            <div class="col-md-6"  style="height:80px">
                <div class="form-group">
                    <label class="col-md-4 control-label"><b>表单初始化组件</b></label>
                     <div class="col-md-8 input-group">
                         <select name="initBusinessObjFormId" id="initBusinessObjFormId" class="form-control">
                         	<option value=""  selected="selected"></option>
		                    <option value="0" >组件1</option>
		                    <option value="1">组件2</option>
	                  	</select>
                    </div>
                </div>
            </div>
            <div class="col-md-6"   style="height:80px">
                <div class="form-group">
                    <label class="col-md-4 control-label"><b>是否强制签单</b></label>
                   <div class="col-md-8 input-group">
                         <select name="isforceDistill" id="isforceDistill" class="form-control">
                         	<option value=""  selected="selected"></option>
		                    <option value="0" >需要</option>
		                    <option value="1">不需要</option>
	                  	</select>
                    </div>
                </div>
            </div>
            <div class="col-md-6"   style="height:80px">
                <div class="form-group">
                    <label class="col-md-4 control-label"><b>回单组件</b></label>
                    <div class="col-md-8 input-group">
                         <select name="retBussinessObjId" id="retBussinessObjId" class="form-control">
                            <option value=""  selected="selected"></option>
		                    <option value="0" >组件1</option>
		                    <option value="1">组件2</option>
	                  	</select>
                    </div>
                </div>
            </div>
            <div class="col-md-6"   style="height:80px">
                <div class="form-group">
                    <label class="col-md-4 control-label"><b>工单处理模式</b></label>
                    <div class="col-md-8 input-group"> 
                         <select name="operMode" id="operMode" class="form-control">
                            <option value=""  selected="selected"></option>
		                    <option value="1" >抢单</option>
		                    <option value="2">主办</option>
		                    <option value="3">主协办</option>
		                    <option value="4">无主办</option>
		                    <option value="5">会签</option>
	                  	</select>
                    </div>
                </div>
            </div>
            <div class="col-md-12 text-center">
	            <button type="button" class="btn btn-success" id="isa-tache-Exe-submitBtn"><b>提交</b></button>
	            <button type="button" class="btn btn-danger" id="isa-tache-Exe-cancelBtn"><b>取消</b></button>
        	</div>
	</div>
</div>