
<div class="modal-header">
	<h4 class="modal-title">人员信息</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" id="dispatch-workorder-rulesinfo-form">
								
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">环节：</label>

										<div class="input-group col-md-10">
												<input class="form-control" type="text" placeholder="请选择环节" id="dispatch-workorder-rulesinfo-tache" data-rule="required;"/>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">产品：</label>

										<div class="input-group col-md-10">
												<input class="form-control" type="text" placeholder="请选择环节" id="dispatch-workorder-rulesinfo-prod" />
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">派发规则类型：</label>

										<div class="input-group col-md-8">
												<input type="text" id="dispatch-workorder-rulesinfo-dispatchtype" name="noticeTypeId" class="form-control" data-rule="required;">
												
										</div>
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">回退方式：</label>

										<div class="input-group col-md-8">
												<input type="text" id="dispatch-workorder-rulesinfo-returntype" name="noticeTypeId" class="form-control" data-rule="required;">
												
										</div>
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">业务组件：</label>

										<div class="input-group col-md-8">
												<input class="form-control" type="text" placeholder="请选择环节" id="dispatch-workorder-rulesinfo-bussi" />
												
										</div>
										
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">多段工单派发标识：</label>

										<div class="input-group col-md-8">
												<input type="text" id="dispatch-workorder-rulesinfo-wodissign" name="noticeTypeId" class="form-control" data-rule="required;">
												
										</div>
										
									</div>
								</div>	
								
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">优先级：</label>

										<div class="input-group col-md-8">
												 <input id="dispatch-workorder-rulesinfo-prior" class="form-control">
										</div>
										
									</div>
								</div>												
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" id="dispatch-workorder-rulesinfo-save">确定</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	</div>
</div>