<div class="row" style="height: 100%">
	<div class="col-md-3 " id="dispatch-workorder-rulesmgr-tache-container"
		style="height: 100%; padding-right: 10px;">
		<div style="position: relative; width: 100%">
			<div id="dispatch-workorder-rulesmgr-tachebar"
				style="padding: 0px 0px 5px 0px;">
				<div class="input-group search-group"
					id="dispatch-workorder-rulesmgr-tachesearch"
					data-toggle="searchbar"></div>
			</div>
			<div id="dispatch-workorder-rulesmgr-tachegrid" style="width: 100%"></div>
		</div>
	</div>
	<div class="col-md-9 " id="com-staffmgr-staff-container"
		style="height: 100%">
		<div style="margin-left: -16px; height: 100%">

			<div class="row" style="height: 50%">
				<div class="col-md-12" style="height: 100%;padding-right:16px;">

					<div class="panel panel-default" data-ui-role="panel" style="margin-bottom:0px">
						<div class="panel-heading clearfix">
							<div class="panel-title">
								<span>{{WORKORDER_DIS_RULE}}</span>
							</div>
							
						</div>
					</div>
					<div style="height:calc(100% - 45px)" id="dispatch-workorder-rulesmgr-rulesgrid-container">
						<div id="dispatch-workorder-rulesmgr-rulesgrid"></div>
					</div>
					

				</div>

			</div>
			<div class="row" style="height: 50%">
				<div class="col-md-12" style="height: 100%;padding-right:16px;">

					<div class="panel panel-default" data-ui-role="panel"  style="margin-bottom:0px">
						<div class="panel-heading clearfix">
							<div class="panel-title">
								<span>{{WORKORDER_DIS_RULE_MAP}}</span>
							</div>
							
						</div>
					</div>
					<div style="height:calc(100% - 44px);" id="dispatch-workorder-rulesmgr-mappinggrid-container">
					<div id="dispatch-workorder-rulesmgr-mappinggrid"></div>
					</div>
					

				</div>
			</div>



		</div>

	</div>
</div>