.search_form_label{
	padding-right:0px;
}

.search_form_field{
	padding-left:0px;
}

.form-separation{
	margin-top:10px;
}

/* .ztree li span.button.glyphicon {
		background-image: none;
		vertical-align: initial;
		width: auto;
		height: auto;
		margin-right: 5px;
		color: #3896d5;
}

.ztree li span.button.fa {
		background-image: none;
		vertical-align: initial;
		width: auto;
		height: auto;
		margin-right: 5px;
		color: #3896d5;
} */