
<div class="modal-header">
	<h4 class="modal-title">配置人员角色</h4>
</div>
<div class="modal-body" style="height: 500px;">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" style="height: 400px;">
								<div class="col-md-5 col-sm-6 col-lg-5">
									
										<div id="com-staffmgr-staffrole-roletree" style="border-right:#E0E0E0 solid 1px;"></div>
									
								</div>
								<div class="col-md-2 col-sm-6 col-lg-2" style="height: 100%;padding-top: 20%;text-align: center;">
								
									<button type="button" id="com-staffmgr-staffrole-addrole">添加>></button>
								</div>
								<div class="col-md-5 col-sm-6 col-lg-5"  style="height: 100%;overflow:auto;border-left:#E0E0E0 solid 1px;">
									
							        <div class="list-group" id="com-staffmgr-staffrole-rolelist">
							            
						        	</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" id="com-staffmgr-staffrole-save">确定</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	</div>
</div>