<div class="panel-heading glyph fs1" style="height:30px;padding:0;margin:0;width:100%;overflow:hidden;">
     <h3 class="panel-title" style="border-bottom: none;padding-top:10px;"><span class="icon-CDN"></span><span class="mls"> 网络设备端口流量TOP5</span></h3>
</div>
<div class="panel-body"  style="padding:0px;margin:0px">
     <div class="panel-heading glyph fs1" style="height:20px;padding:0;margin-top:5px;margin-bottom:0px;width:100%;">
        <h3 class="panel-title" style="border-bottom: none;padding-top:1px;padding-left:0px">
             <span style="padding-left:3px;padding-right:10px;">
                             端口名称</span>
            <span class="icon-CDN" style="padding-left:20px;color:#FF0000"/>
            <span style="padding-left:10px">端口流量</span> 
        </h3>
     </div>

      <div id="nms_alarmPort_echart"  style="padding:0px;margin:0px"/>
</div>

	