<div class="alarmStaticWidget">
	<div style="height:45px; border:0px solid yellow; margin-top:10px;">
		<div class="nms_monitor_alarm_count_label" style="height:100%;">告警总数</div>
		<div class="alarmCount" style="height:100%; ">112</div>
	</div>
	<div style="height:45px; border:0px solid yellow;">
		<label class="nms_monitor_alarm_count_label" style="height:50px; border:0px solid yellow;">已派单数</label>
		<span class="alarmCount alarm_order_Count">92</span>
	</div>
</div>

<!-- <div class="container-fluid" style="border:1px solid red;">
	<div class="row alarmStaticWidget">
		<div class="col-xs-4" style="border:1px solid blue; padding:0px;"> <label id="nms_monitor_alarm_count_static">告警总数</label></div>
		<div class="col-xs-7"><span class="alarmCount">189602</span>  </div>
	</div>
</div> -->