<div id="nms_mointor_hp_container" class="container-fluid">
	<div class="row content border-radius">
		<div  class="col-xs-8 leftArea">
			 <div class="monitorMaptoolbar">
			 	<div class="staticTypeWrap">
			 		 <!-- <input id="nms_monitor_staticType" class="combobox form-control" style="background-color:#FFFFFF;" >  -->
			 	
			 		<input type="radio" id="nms_monitor_staticType_alarm"  name="monitorStaticType" checked="checked" value="1">
			 			 <label for="nms_monitor_staticType_alarm">告警统计</label> 
			 		<input type="radio" id="nms_monitor_staticType_pf" name="monitorStaticType"  value="2">
			 			<label for="nms_monitor_staticType_pf" >性能统计</label>
			 	</div>
			 	
			 </div>
			 <div id="nms_monitor_monitorMap" class="monitorMap">
		
			 
			 </div>
		</div>
		<div id="nms_monitor_statisArea" class="col-xs-4 rightArea" >
			<div id="mms_monitor_alarmCount" class="border-radius statisArea alarmStatis"></div>
			<div id="nms_monitor_statis_1" class="border-radius statisArea alarmStatis" ></div>
			<div id="nms_monitor_statis_2" class="border-radius statisArea alarmStatis"></div>
			
			<div id="nms_monitor_statis_3" class="border-radius statisArea pfStatis"></div>
			<div id="nms_monitor_statis_4" class="border-radius statisArea pfStatis"></div>
		</div>
	</div>
</div>