<div class="sysmonitorwidget-iommonitor-main" style="width:100%;height:100%">
	<div class="sysmonitorwidget-iommonitor-error-title sysmonitor-title" style="height:30px;line-height:30px;text-align:left;padding-left:15px;">
		<span>在途故障单</span>
	</div>
	<div class="sysmonitorwidget-iommonitor-error-body clearfix" style="height:auto;padding-left:15px;padding-top: 10px;padding-bottom: 10px;">
		<div style="width:33%;height:100%;float:left;padding-right:15px;">
			<a style="width: 100%;height:auto;" href="#/isaManagement/isaStoppage/isaFaultQuery">
				<div class="sysmonitorwidget-iommonitor-noramlorder" style="width: 100%;padding-bottom: 100%;height: 0px;">
					<div class="sysmonitorwidget-iommonitor-noramlorder-con"  style="display:inline;position:relative;top:27px;">
						<div style="font-size:15px;margin-bottom:11px">正常</div>
						<div class="sysmonitorwidget-iommonitor-noramlorder-num"  style="font-size:24px">31</div>
					</div>
				</div>
			</a>
		</div>
		<div style="width:33%;height:100%;float:left;padding-right:15px">
		<a style="width: 100%;height:auto;" href="#/isaManagement/isaStoppage/isaFaultQuery">
			<div class="sysmonitorwidget-iommonitor-alarmorder" style="width: 100%;padding-bottom: 100%;height: 0px;">
				<div class="sysmonitorwidget-iommonitor-alarmorder-con"  style="display:inline;position:relative;top:27px;">
					<div style="font-size:15px;margin-bottom:11px">预警</div>
					<div class="sysmonitorwidget-iommonitor-alarmorder-num"  style="font-size:24px">5</div>
				</div>
			</div>
			</a>
		</div>
		<div style="width:33%;height:100%;float:left;padding-right:15px">
		<a style="width: 100%;height:auto;" href="#/isaManagement/isaStoppage/isaFaultQuery">
			<div class="sysmonitorwidget-iommonitor-overorder" style="width: 100%;padding-bottom: 100%;height: 0px;">
				<div class="sysmonitorwidget-iommonitor-overorder-con"  style="display:inline;position:relative;top:27px;">
					<div style="font-size:15px;margin-bottom:11px">超时</div>
					<div class="sysmonitorwidget-iommonitor-overorder-num"  style="font-size:24px">0</div>
				</div>
				
			</div>
			</a>
		</div>
	</div>
	<div class="sysmonitorwidget-iommonitor-bussinessiom-body" style="height:calc(100% - 140px)">
	</div>
	

</div>