<div class="modal-header">
	<h4 class="modal-title">请求挂起工单列表</h4>
</div>
<div class="modal-body">
	<div class="panel panel-default">
		<div class="row">
			<div class="col-md-12 modal-footer" style="padding-right: 15px;">
				<div class="btn" style="margin-left: 15px">
					<button type="button" class="btn btn-primary pull-left" id = "isa_sto_ope_mon_rejectBtn">驳回</button>
					<button type="button" class="btn btn-primary pull-left" id = "isa_sto_ope_mon_hangBtn">整单挂起</button>
				</div>
			</div>
		</div>
		<div id="isa_sto_ope_mon_applyHangOrderGrid"></div>
	</div>
</div>
