<div class="panel panel-default" id="serverequip-nettopo-view">
    <div class="panel-body">
        <div class="col-md-12">
            <div class="row">
				<div class="col-md-12">
			        <button type="button" class="btn btn-default" id="serverequip-nettopo-createbtn">{{btn.create}}</button>
			        <button type="button" class="btn btn-default" id="serverequip-nettopo-modbtn">{{btn.modify}}</button>
			        <button type="button" class="btn btn-default" id="serverequip-nettopo-delbtn">{{btn.delete}}</button>
			    </div>
			</div>
			<div class="row" style="margin-top:5px;">
				<div class="col-md-12">
				   	<div id="serverequip-nettopo-grid"></div>			    
			    </div>
			</div>
		</div>
	</div>
</div>
