<div class="row">
    <div class="col-md-3">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="查询..." id="detailQryView-nodeName">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="detailQryView-treeQry-btn">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
        </div>

        <div id="detailQryView-treeDiv" style="padding: 0;overflow: auto">
            <div id="detailQryView-navTree" style="padding-bottom: 5px;"></div>
        </div>
    </div>

    <div class="col-md-9" style="padding: 5px;">
        <div class="col-md-12">
            <div id="detailQry-bar" style="height: 200px;width:100%"></div>
        </div>

        <div class="col-md-12">
            <div id="detailQryView-grid"></div>
        </div>
    </div>
</div>