<div class="modal-header">
	<h4 class="modal-title">选择服务</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title" align="center">服务目录</h3>
					<span style="float:right;margin-right:-10px">
			        	<span id="searchBtn" class="glyphicon glyphicon-search" style="color:grey;margin-right:-25px"></span>
			        	<input id="iom-selectService-searchInput" type="text">
			        </span>
				</div>
				<div class="panel-body">
					<div id="iom-selectService-tree"></div>
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-default" id="iom-selectService-submit">确定</button>
			<button type="button" class="btn btn-default" id="iom-selectService-cancel" data-dismiss="modal">取消</button>
		</div>
	</div>
</div>
