<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


<form class="form-horizontal">
<div class="form-group required">
	<label class="col-md-4 control-label">地址：</label>
	<div class="input-group col-md-8">
		<input id="citySel"  type="text" class="form-control" readonly="readonly" name="HAPPENED_AREA_NAME" placeholder="请选择发生地区" data-rule="required;"> 
		<span id="menuBtn" class="input-group-addon"> 
			<a href="javascript:void(0);" class="inforeport-add-triangle"> 
				<span class="glyphicon glyphicon-triangle-bottom"></span>
			</a>
		</span>
		<div id="tree_select_menu_checkbox_html" class="menuContent" style="position:absolute;background-color:#eee;" >
			<ul id="treeDemo" style="width:188px; margin-top:0px"></ul>
		</div>
	</div>
</div>
</form>


</body>
</html>