<header id="main-header" class="main-header"></header>
<div class="affix affix-tools">
	<button type="button" class="btn btn-primary" id="com-main-fullscrean"
		style="display: none;">
		<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>全屏
	</button>
	<button type="button" class="btn btn-default" id="com-main-lightoff"
		style="display: none;">
		<span class="glyphicon glyphicon-th" aria-hidden="true"></span>关灯
	</button>
</div>

<aside class="first-sidebar">
	<span class="first-sidebar-slider"></span>

	<ul class="first-sidebar-treemenu">

	</ul>
</aside>
<aside class="main-sidebar" style="display: none">
	<section class="sidebar">

		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">

		</ul>
	</section>
	<div class="main-sidebar-collapse">
		<div class="main-sidebar-collapse-inner">
			<i class="fa fa-angle-double-left"></i>
		</div>

		<div class="main-sidebar-expand-inner">
			<i class="fa fa-angle-double-right"></i>
		</div>

	</div>
</aside>
<div class="wrapper main-wrapper">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-md-12"
				style="padding-left: 13px; padding-right: 13px;">
				<div class="ui-tabs main-content-tabs">
					<ul class="ui-tabs-nav">
					</ul>

					<div id="main-tabs-panel" class="main-tabs-panel"></div>

				</div>
			</div>
		</div>
	</div>
</div>
