<div class="row" style="height: 100%">
	<div class="col-md-3 " id="com-orgmgr-org-container"
		style="height: 100%;padding-right: 10px;">
		<div style="position: relative;width:100%">
			<div class="org-grid-search-bar" style="padding: 0px 0px 5px 0px;">
				<div class="input-group search-group"
					id="com-orgmgr-org-grid-search" data-toggle="searchbar"></div>
			</div>
			<div id="com-orgmgr-org-grid" style="width:100%"></div>
		</div>
	</div>
	<div class="col-md-9 "
		id="com-orgmgr-job-container" style="height: 100%">
		<div style="margin-left: -15px; height: 100%">
		<div class="row" id="com-orgmgr-job-search-row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<form class="form-inline" id="com-orgmgr-job-searchform" role="form">
								<div class="row" style="margin-bottom: 10px;">
									<div class="col-md-12">
										<div class="form-group">
											<div class="pull-left">
												<button type="button" id="com-orgmgr-org-details" class="btn btn-success" disabled="disabled">职位详情</button>
												<button type="button" id="com-orgmgr-org-add" class="btn btn-success">添加职位</button>
												<button type="button" id="com-orgmgr-org-delete" class="btn btn-success" disabled="disabled">删除职位</button>

											</div>
										</div>
										
									</div>
								</div>
								

							</form>
						</div>


					</div>
				</div>

			</div>
			<div class="row" id="com-orgmgr-job-grid-row">
				<div class="col-md-12" style="padding-right: 16px;">
					<div id="com-orgmgr-job-grid"></div>

				</div>
			</div>



		</div>

	</div>
</div>