.scrollspy-orderdetails {
	position: relative;
	height: 480px;
	margin-top: 0px;
	overflow: auto;
}

.orderdetails-header {
	margin-left: 20px;
	margin-bottom:20px;
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
	border-left: thick solid #096ECA
}

.scrollspy-orderdetails .row {
	margin-left: 0px;
	margin-right: 0px;
}

#orderdetails-nav {
	float:left;
	height: 480px;
}

#orderdetails-scrollspy .orderdetails-spliter {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 3px dotted #e7e7e7;
}

.orderdetails-product-left-grid {
	padding-right: 0px;
	margin-top:10px;
}

.orderdetails-product-right-grid {
	padding-left: 5px;
	margin-top:10px;
}

#orderdetails-majorprod-left-grid .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td,
#orderdetails-majorprod-right-grid .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td,
#orderdetails-attachprod-left-grid .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td,
#orderdetails-attachprod-right-grid .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td 
{
    border: none;
}