<div class="modal-header">
	<h4 class="modal-title" >选择按钮</h4>
</div>
<div class="col-md-12">
	<div class="row">
	<div class="col-md-2" style="margin:0;border:0;padding:0;">
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h3 class="panel-title" align="center">按钮目录</h3>
			</div>
				
			<div class="panel-body" style="height: 160px;">
				<div id="iom-flow-buttonCatalog">
		 	
		 		</div>
			</div>			
		</div>
		
	</div>
	<div class="col-md-10" style="margin:0;border:0;padding:2;">
		 
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="panel panel-default" style="border:0px;">
						<div class="col-md-12">
							<div id="iom-flowbutton-grid"></div>
						</div>
							
					</div>
				</div>
			</div>
		</div>
		
		
 </div>
	</div>
	
	<div class="row" style="margin-top: 20px;">
			<div class="col-md-12">
						<form class="form-horizontal" id="iom-event-form">
								<div class="col-md-5">
									<div class="form-group">
										<label class="col-md-4 control-label">显示名称：</label>
										<div class="input-group col-md-8">
												<input class="form-control"  type="text" name="iom-eventName-add" id="iom-eventName-add" data-rule="事件名称:required;" />
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label class="col-md-4 control-label">备注：</label>
										<div class="input-group col-md-8">
												<input class="form-control"  type="text" name="iom-eventName-ad2d" id="iom-eventName-2add" data-rule="事件名称:required;" />
										</div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<label class="col-md-4 control-label">显示顺序：</label>
										<div class="input-group col-md-8">
												<input class="form-control" type="text"  name="iom-eventCode-add" id="iom-eventCode-add"/> 
										</div>
									</div>
								</div> 
								<div class="col-md-5">
									<div class="form-group">
										<label class="col-md-4 control-label">工单类型：</label>
										<div class="input-group col-md-8">
											<input type="text"  name="iom-eventSort-add" id="iom-eventSort-add" class="form-control">
										</div> 
									</div>
								</div> 
								
								<div class="col-md-2">
									<div class="form-group">
										<div class="input-group col-md-6" style="margin-left: 15px;">
											<button type="button" class="btn btn-success" id="iom-flowbuttonaddgrid-save-button">增加</button>
										</div> 
									</div>
								</div> 
									</form>
								</div>
		</div>
		
		<div class="row" style="margin-top: 20px;">
			<div class="col-md-12">
							<div class="panel-heading" style="height:30px;border:0px;">
								<p class="panel-title">按钮列表</p>
							</div>
						</div> 
			<div class="col-md-12">
				<div id="iom-flowbuttonadd-grid"></div>
			</div>
			
			<div class="modal-footer"  style="margin-top: 10px;">
		<div class="row"><div class="col-md-7">
			<button type="button" class="btn btn-success" id="iom-flowbuttonadd-save-button">确定</button>
			<button type="button" class="btn btn-success" id="iom-flowbuttonadd-cancel-button" data-dismiss="modal">取消</button>
		</div></div>
		</div>
		
		</div>
</div>

