
<div class="modal-header">
	<h4 class="modal-title" id="flowTacheAddTitle">增加环节版本</h4>
</div>
<div class="modal-body">
	<div class="row"><div class="col-md-12">
	<div id="iom-flowTache-tabs" class="ui-tabs ui-tabs ui-tabs-collapsible">
		<div id="iom-flowTache-tabs-a" class="ui-tabs-panel" aria-expanded="false" aria-hidden="false">
			<div class="row">
					<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" id="iom-flowTacheAdd-form">
								<div class="row"> 
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">环节版本号：</label>
										<div class="input-group col-md-10">
											<div class="col-md-2">
												<div class="form-group">
												<label class="col-md-1 control-label">V</label>
													<div class="input-group col-md-6"  style="width: 60%"> 
														<input type="text"  name="iom-flowTacheEdition-add1" id="iom-flowTacheEdition-add1" class="form-control" data-rule="required;">
													</div>
												</div>
											</div>
											<div class="col-md-2" >
												<div class="form-group" style="margin-left:-35px; ">
												<label class="col-md-1 control-label">.</label>
													<div class="input-group col-md-6" style="width: 50%">
														<input type="text"  name="iom-flowTacheEdition-add2" id="iom-flowTacheEdition-add2" class="form-control" data-rule="required;">
													</div>
												</div>
											</div>
											
										</div>
										
									</div>
								</div>
								</div>
								<div class="row"> 
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">生效时间：</label>
										<div class="input-group col-md-7">
											<input type="text"  name="iom-flowTacheEffDate-add" id="iom-flowTacheEffDate-add" class="form-control" data-rule="生效时间:required;">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">失效时间：</label>
										<div class="input-group col-md-7">
											<input type="text"  name="iom-flowTacheExpDate-add" id="iom-flowTacheExpDate-add" class="form-control" data-rule="失效时间:required;">
										</div>
									</div>
								</div>
								 </div>
							</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		</div>
	</div>
		<div class="modal-footer">
		<div class="row"><div class="col-md-12">
			<button type="button" class="btn btn-success" id="iom-flowTacheAdd-save-button">确定</button>
			<button type="button" class="btn btn-success" id="iom-flowTacheAdd-cancel-button" data-dismiss="modal">取消</button>
		</div></div>
		</div>
</div>
