
<div class="modal-header">
	<h4 class="modal-title">环节详情</h4>
</div>
<div class="modal-body">
	<div class="row"><div class="col-md-12">
	<div id="iom-flow-tabs" class="ui-tabs ui-tabs ui-tabs-collapsible">
		<ul class="ui-tabs-nav" role="tablist">
				<li id="iom-flow-tabs-a-li" class="ui-state-default ui-tabs-active" role="tab" tabindex="0" aria-controls="tabs-a" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true" style="display: list-item;">
					<a id="iom-flow-tabs-a-link" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">环节异常原因</a>
				</li>
				<li id="iom-flow-tabs-b-li"  class="ui-state-default" role="tab" tabindex="-1" aria-controls="tabs-b" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
					<a id="iom-flow-tabs-b-link" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">环节适用功能</a>
				</li> 
		</ul> 
		
		<div id="iom-flow-tabs-a" class="ui-tabs-panel" aria-expanded="false" aria-hidden="false">
			<div class="row">
				<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12" style="padding: 5px;">
							<div class="" style="margin-left: 15px;margin-top: 10px">
								<button type="button" id = "iom-flowTache-addReason-btn" class="btn btn-success" >增加原因</button>
								<button type="button" id = "iom-flowTache-delReason-btn" class="btn btn-success" >删除原因</button> 
							</div>
						</div>
						<div class="col-md-12">
							<div id="iom-flow-tabs-a-grid"></div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
	 	</div>	
	 	
		<div id="iom-flow-tabs-b" class="ui-tabs-panel" aria-expanded="false" aria-hidden="false">
			<div class="row">
				<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12" style="padding: 5px;">
							<div class="" style="margin-left: 15px;margin-top: 10px">
								<button type="button" id = "iom-flowTache-buttonSelAdd-btn" class="btn btn-success" >增加功能</button>
								<button type="button" id = "iom-flowTache-buttonSelMod-btn" class="btn btn-success" >修改功能</button>
								<button type="button" id = "iom-flowTache-buttonSelDel-btn" class="btn btn-success" >删除功能</button> 
							</div>
						</div>
						<div class="col-md-12">
							<div id="iom-flow-tabs-b-grid"></div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
	 	</div>	
	</div>
	
		</div>
	</div>
		<div class="modal-footer">
		<div class="row"><div class="col-md-12">
			<button type="button" class="btn btn-success" id="iom-productDetail-cancel-button" data-dismiss="modal">关闭</button>
		</div></div>
		</div>
</div>
