<div class="modal-header">
	<h4 class="modal-title">文件上传</h4>
</div>
<div class="modal-body">
	<div class="row">
			<div class="col-md-12">
		    <span class="btn btn-success fileinput-button fileUpload-select-btn">
		        <i class="glyphicon glyphicon-plus"></i>
		        <span>选择文件...</span>
		        <input class="fileUpload-files" type="file" multiple="multiple" accept="">
		    </span>
	    </div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- 显示上传结果 -->
		    <div class="fileUpload-results"></div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-default fileUpload-close-btn" data-dismiss="modal">关闭</button>
		</div>
	</div>
</div>
