
<div class="modal-header">
	<h4 class="modal-title">事件详情</h4>
</div>
<div class="modal-body">
	<div class="row"><div class="col-md-12">
	<div id="iom-event-tabs" class="ui-tabs ui-tabs ui-tabs-collapsible">
		<ul class="ui-tabs-nav" role="tablist">
				<li id="iom-event-tabs-a-li" class="ui-state-default ui-tabs-active" role="tab" tabindex="0" aria-controls="tabs-a" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true" style="display: list-item;">
					<a id="iom-event-tabs-a-link" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">基本信息</a>
				</li>
		</ul>
		<div id="iom-event-tabs-a" class="ui-tabs-panel" aria-expanded="false" aria-hidden="false">
			<div class="row">
					<div class="col-md-12">
			<div class="panel panel-default">
			
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" id="iom-event-form">
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">事件名称：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly" type="text" name="iom-eventName-detail" id="iom-eventName-detail"  />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">事件编码：</label>
										<div class="input-group col-md-8">
												<input class="form-control" type="text" readonly="readonly" name="iom-eventCode-detail" id="iom-eventCode-detail"/> 
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">生效日期：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly" type="text" name="iom-event-effDate-detail" id="iom-event-effDate-detail">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">失效日期：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly" type="text" name="iom-event-expDate-detail" id="iom-event-expDate-detail">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">事件类型：</label>
										<div class="input-group col-md-8">
										<input type="text" readonly="readonly" name="iom-eventType-detail" id="iom-eventType-detail" class="form-control">
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">CRM事件编码：</label>
										<div class="input-group col-md-8">
												<input type="text" readonly="readonly" class="form-control" name="iom-event-crmEventCode-detail" id="iom-event-crmEventCode-detail">
										</div>
									</div>
								</div>  
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">备注 ：</label>
										<div class="input-group col-md-10">
												<textarea name="iom-event-remark-detail" readonly="readonly" id="iom-event-remark-detail" class="form-control"></textarea>
									</div></div>
								</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		</div>
	</div>
		<div class="modal-footer">
		<div class="row"><div class="col-md-12">
			
		</div></div>
		</div>
</div>
