
<div class="col-md-12">
	<div class="row">
	<div class="col-md-2" style="margin:0;border:0;padding:0;">
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h3 class="panel-title" align="center">产品目录</h3>
			</div>
				
			<div class="panel-body">
				<div id="iom-product-productCatalog">
		 	
		 		</div>
			</div>			
		</div>
		
	</div>
	<div class="col-md-10" style="margin:0;border:0;padding:2;">
		 
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="panel panel-default" style="border:0px;">
						<div class="col-md-12">
							<div class="panel-heading" style="height:41px;border:0px;">
								<p class="panel-title">产品列表</p>
							</div>
						</div>
						 
						<div class="col-md-12" style="padding: 5px;">
							<div class="" style="margin-left: 15px;margin-top: 15px">
								<button type="button" id = "product-product-detail-btn" class="btn btn-success" >详情</button>
								<button type="button" id = "product-product-add-btn" class="btn btn-success" >新建</button>
								<button type="button" id = "product-product-mod-btn" class="btn btn-success"   >修改</button>
								<button type="button" id = "product-product-del-btn" class="btn btn-success"  >删除</button>
							</div>
						</div>
						 
						<div class="col-md-12">
							<div id="product-product-grid"></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
 </div>
	</div>
</div>

