
<div class="modal-header">
	<h4 class="modal-title">服务详情</h4>
</div>
<div class="modal-body">
	<div class="row"><div class="col-md-12">
	<div id="iom-service-detail-tabs" class="ui-tabs ui-tabs ui-tabs-collapsible">
		<ul class="ui-tabs-nav" role="tablist">
				<li id="iom-service-detail-tabs-a-li" class="ui-state-default ui-tabs-active" role="tab" tabindex="0" aria-controls="tabs-a" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true" style="display: list-item;">
					<a id="iom-service-detail-tabs-a-link" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">基本信息</a>
				</li>
				<li id="iom-service-detail-tabs-b-li" class="ui-state-default" role="tab" tabindex="0" aria-controls="tabs-a" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true" style="display: list-item;">
					<a id="iom-service-detail-tabs-b-link" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">流程平台适配规则</a>
				</li>
		</ul>
		<div id="iom-service-tabs-a" class="ui-tabs-panel" aria-expanded="false" aria-hidden="false">
			<div class="row">
					<div class="col-md-12">
			<div class="panel panel-default">
			
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" id="iom-service-form">
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">选择产品：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly" type="text" name="iom-serviceProduct-detail" id="iom-serviceProduct-detail" data-rule="required;" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">选择事件：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly"  type="text"  name="iom-serviceEvent-detail" id="iom-serviceEvent-detail"   /> 
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">服务名称：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly"  type="text" name="iom-serviceName-detail" id="iom-serviceName-detail" data-rule="required;" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">服务编码：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly"  type="text"  name="iom-serviceCode-detail" id="iom-serviceCode-detail" data-rule="required;"/> 
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">服务归属：</label>
										<div class="input-group col-md-8">
										<input type="text" readonly="readonly"  name="iom-serviceBelong-detail" id="iom-serviceBelong-detail" class="form-control" data-rule="required;">
										</div>
									</div>
								</div>
								
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">服务版本：</label>
										<div class="input-group col-md-8">
												<input type="text" readonly="readonly" class="form-control" name="iom-service-vesion-detail" id="iom-service-vesion-detail" data-rule="required;">
										</div>
									</div>
								</div> 
								
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">生效日期：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly"  type="text" name="iom-service-effDate-detail" id="iom-service-effDate-detail"  data-rule="required;">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="col-md-4 control-label">失效日期：</label>
										<div class="input-group col-md-8">
												<input class="form-control" readonly="readonly"  type="text" name="iom-service-expDate-detail" id="iom-service-expDate-detail"  data-rule="required;">
										</div>
									</div>
								</div> 
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">备注 ：</label>
										<div class="input-group col-md-10">
												<textarea name="iom-service-remark-detail" readonly="readonly"   id="iom-service-remark-detail" class="form-control"></textarea>
									</div></div>
								</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<div id="iom-service-detail-tabs-b" class="ui-tabs-panel" aria-expanded="false" aria-hidden="false">
			<div class="row">
				<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div id="iom-service-detail-tabs-b-grid"></div>
						</div>
					</div>
				</div>
			</div>
			</div>
			</div>
	 	</div>
	 	
	</div>
	
		</div>
	</div>
		<div class="modal-footer">
		<div class="row"><div class="col-md-12"> 
		</div></div>
		</div>
</div>
