
<div class="col-md-12">
	<div class="row">
	<div class="col-md-2" style="margin:0;border:0;padding:0;">
		<div class="panel panel-default" >
			<div class="panel-heading">
				<h3 class="panel-title" align="center">服务目录</h3>
			</div>	
			<div class="panel-body">
				<div id="iom-service-serviceCatalog">
		 	
		 		</div>
			</div>			
		</div>
		
	</div>
	<div class="col-md-10" style="margin:0;border:0;padding:2;">
		 
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="panel panel-default" style="border:0px;">
						<div class="col-md-12">
							<div class="panel-heading" style="height:41px;border:0px;">
								<p class="panel-title">服务列表</p>
							</div>
						</div>
						 
						<div class="col-md-12" style="padding: 5px;">
							<div class="" style="margin-left: 15px;margin-top: 15px">
								<button type="button" class="btn btn-success"  id = "service-service-detail-btn">详情</button>
								<button type="button" class="btn btn-success"  id = "service-service-add-btn">新建</button>
								<button type="button" class="btn btn-success"  id = "service-service-mod-btn">修改</button>
								<button type="button" class="btn btn-success"  id = "service-service-del-btn">删除</button>
							</div>
						</div>
						 
						<div class="col-md-12">
							<div id="iom-service-grid"></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
 </div>
	</div>
</div>

