<div id="port-dialog">
<div class="modal-header" id="port-header">
	<h4 class="modal-title">增加端口</h4>
</div>
<div class="modal-body" id="port-body">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12" style="padding: 5px;">

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<form class="form-horizontal" id="port-form">
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">所属设备：</label>
											<div class="input-group col-md-6">
												 <input class="form-control" type="text"  id="port_add_equipmentId" name="equipmentId">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">所属槽位：</label>
											<div class="input-group col-md-6">
												 <input type="text" id="port_add_form_boardId" name="boardId" class="form-control">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">共享方式：</label>
											<div class="input-group col-md-6">
												<input type="text" id="port_add_allocationType" name="allocationType" class="form-control">
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">端口数量：</label>
											<div class="input-group col-md-6">
												 <input class="form-control" type="text"   id="port_add_port_num" name="portNum">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">起始序号：</label>
											<div class="input-group col-md-6">
												 <input class="form-control" type="text" id="port_add_seriesNo" name="seriesNo">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">端口速率：</label>
											<div class="input-group col-md-6">
												<input type="text" id="port_add_rateId" name="rateId" class="form-control">
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="col-md-2">
										<label class="col-md-12 control-label" align="right">备注：</label>
									</div>
									<div class="col-md-10">
										<div class="form-group">
											<textarea class="col-md-12 " type="text"  id="port_add_comments" name="comments" rows="4"></textarea>
										</div>
									</div>
								</div>
								
								<!-- 
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">端口序号：</label>
											<div class="input-group col-md-6">
												 <input class="form-control" type="text" id="port_add_seriesNo" name="seriesNo">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">端口编码：</label>
											<div class="input-group col-md-6">
												 <input class="form-control" type="text"   id="port_add_code" name="code">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">所属设备：</label>
											<div class="input-group col-md-6">
												 <input class="form-control" type="text"  id="port_add_equipmentId" name="equipmentId">
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">端口速率：</label>
											<div class="input-group col-md-6">
												<input type="text" id="port_add_rateId" name="rateId" class="form-control">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">共享方式：</label>
											<div class="input-group col-md-6">
												<input type="text" id="port_add_allocationType" name="allocationType" class="form-control">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">所属模块：</label>
											<div class="input-group col-md-6">
												 <input type="text" id="port_add_form_boardId" name="boardId" class="form-control">
											</div>
										</div>
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">业务状态：</label>
											<div class="input-group col-md-6">
												<input type="text" name="useState" id="port_add_useState" class="form-control">
											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label class="col-md-6 control-label">ip地址：</label>
											<div class="input-group col-md-6">
												<input class="form-control" type="text"  id="port_add_ipAddr" name="ipAddr">
											</div>
										</div>
									</div>									
								</div>																
								 -->
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		
</div>
</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="save-button">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
</div>
</div>
</div>