 <form id="demo_11" action="#" method="post" autocomplete="off">
        <fieldset>
            <p>
                <input name="username" data-rule="required;username" placeholder="用户名" type="text">
            </p>
            <p>
                <input name="userpwd" data-rule="required;password" placeholder="密码" type="password">
            </p>
        </fieldset>
        <button id="btnSubmit" type="button">提交</button>
        <button type="button">重置</button>
    </form>
    
    
    <div id="demo_12">
        <div class="form-group">
            <label for="spinner">Select a value:</label>
            <input id="spinner" class="form-control">
        </div>
        <button type="button" class="btn btn-default js-enable">Enable</button>
        <button type="button" class="btn btn-default js-disable">Disable</button>
    </div>
    <div id="gridId"></div>