<div id="total" class="container-fluid" >
<div id="head" class="row" >
  <div class="col-md-4"></div>
      <div class="col-md-4">
          <div class="form-group">
              <label class="col-md-4 control-label text-right">用户号码：</label>
              <div class="input-group col-md-8">
                  <input id="orderTitle"  name="orderTitle" class="form-control" type="text" placeholder="用户号码" >
              </div>
         
          </div>
      </div>
   <div class="col-md-4">
       <button type="button" class="btn btn-info"  id="seachBtn">诊断</button>
   </div>
</div>
<div id="center" class="row" >
    <div class="col-md-2 " style="margin-bottom:0 5%" >
    <div class="col-md-12" >
    
    <table class="table table-bordered " style="border:none" >
 		<th colspan="2"><img src="../../../newPages/diagious/styles/images/icon_error_stop.png" />客户信息</th>
 		<tr>
			<td>用户号码</td>
 			<td>波波</td>
 		</tr>
 		<tr>
			<td>用户姓名</td>
 			<td>波波</td>
 		</tr>
 		<tr>
			<td>客户姓名</td>
 			<td>波波</td>
 		</tr>
 		<tr>
			<td>客户姓名</td>
 			<td>波波</td>
 		</tr>
 		<tr>
			<td>客户姓名</td>
 			<td>波波</td>
 		</tr>
 		<tr >
			<td >CVLAN</td>
 			<td>22</td>
 		</tr>
 		<tr>
			<td>SVANL</td>
 			<td>11</td>
 		</tr>
	</table>
	</div>
    </div>
    <div id="centerRight" class="col-md-10" >
<!--         <div id="gridId"></div>
 -->        <div id="canvas" ></div>
        
    </div>
</div>
<div id="foot" class="row" >
    <div class="col-md-2" >
   
    </div>
    <div class="col-md-10" >
	    <div class="out">
	   		<p class="title"><img src="../../../newPages/diagious/styles/images/icon_error_stop.png" /><span class="error">[异常]</span>基本信息</p>
	   		<ul style="display:block;">
	     		 <li class="success"><img src="../../../newPages/diagious/styles/images/icon_success_open.png" />检查是否有关联事件通知
	         		<p>当前无此用户设备关联事件通知</p>
	      		</li>
	      		<li class="error"><img src="../../../newPages/diagious/styles/images/icon_error_open.png" /><span>[离线]</span>检查用户终端是否在线
	        		 <p>终端在线状态：离线</p>
	      		</li>
	   		</ul>
		</div>
	
		<div class="out">
		   <p class="title"><img src="../../../newPages/diagious/styles/images/icon_error_open.png" /><span class="success"></span>诊断信息</p>
		   <ul>
		      <li class="success"><img src="../../../newPages/diagious/styles/images/icon_success_open.png" />检查是否有关联事件通知
		         <p>当前无此用户设备关联事件通知</p>
		      </li>
		      <li class="error"><img src="../../../newPages/diagious/styles/images/icon_error_open.png" /><span>[离线]</span>检查用户终端是否在线
		         <p>终端在线状态：离线</p>
		      </li>
		   </ul>
		</div>
    </div>
</div>

</div>