.oper-input-padding{
    padding-left:0px;
	padding-right:0px;
}
.row-margin-top{
	margin-top:10px;
}
.hr-border {
    width:100%;
    border-top:solid 2px #d0d0d0;
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
}