<div class="col-md-12">
    <form id="idcrm-dcOrRoomtest-form">
        <div class="row">
	        <div class="col-md-6">
		    	<div class="form-group">
		    		<label class="col-md-3 control-label">全部数据中心或机房:</label>
		    		<div class="input-group col-md-9">
		    		     <input class="form-control" type="text" id="idcrm-dcOrRoomtest-selectAll" name="dcOrRoomSelAll"  placeholder="请选择数据中心或机房" >  
		    		</div>
		    	</div>
			</div>
		</div>
		<div class="row">
			
	        <div class="col-md-6">
		    	<div class="form-group">
		    		<label class="col-md-3 control-label">选择郑州的数据中心或机房:</label>
		    		<div class="input-group col-md-9">
		    		     <input class="form-control" type="text" id="idcrm-dcOrRoomtest-selectByArea" name="dcOrRoomSelByArea"  placeholder="请选择数据中心或机房" >  
		    		</div>
		    	</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-6">
		    	<div class="form-group">
		    		<label class="col-md-3 control-label">选择郑州的数据中心或机房:</label>
		    		<div class="input-group col-md-9">
		    		     <button type="button" class="btn btn-primary " id = "idcrm-dcOrRoomtest-popbtn">机房弹窗</button>
		    		</div>
		    	</div>
			</div>
		</div>
    </form>
</div>
<div class="col-md-12">
   <button type="button" class="btn btn-primary " id = "idcrm-dcOrRoomtest-getbtn">获取popedit值显示</button>
</div>

<div class="col-md-12">
   <div class="col-md-4">全部区域的数据中心或机房：</div><div class="col-md-8" id="idcrm-dcOrRoomtest-resultAll"></div>
</div>
<div class="col-md-12">
   <div class="col-md-4">选择郑州的数据中心或机房：</div><div class="col-md-8" id="idcrm-dcOrRoomtest-resultSelByArea"></div>
</div>