<div class="modal-header">
	<h4 class="modal-title">历史通知</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12" style="height:320px">
							<div id="com-portal-notice-his-grid" style="width:100%"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	
		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	</div>
</div>