<div class="row" style="margin: 0px; height: 100%;width :100%;background-color:  #F5F5F5;">
	<div class="col-md-12" style="padding: 0px; height: 100%;width :100%;">
		<div class="widget-body" style="padding: 0px 10px; height: 100%;width :100%;">
			<ul class="widget-tabs">
				<li class="active"><a>公告栏</a></li>
				<li style="display:none"><a>待办任务</a></li>
				<li style="display:none"><a>已办任务</a></li>

				<li class="pull-right">
				<button type="button" title="添加" id="com-portal-notice-viewhis"
						style="border: 0; padding: 0 6px; background-color: transparent; padding: 10px 15px;">
						<span class="glyphicon glyphicon-list-alt" style="padding-right:5px"></span>历史公告
					</button>
				<button type="button" title="添加" id="com-portal-notice-add"
						style="border: 0; padding: 0 6px; background-color: transparent; padding: 10px 15px;">
						<span class="glyphicon glyphicon-list-alt" style="padding-right:5px"></span>发布公告
					</button>
					</li>
			</ul>
			<div class="widget-panel">
				<div id="com-portal-notice-grid"></div>
			</div>
		</div>

	</div>
</div>