<div class="modal-header">
	<h4 class="modal-title">发布通知</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal" id="com-portal-noticeinfo-form">
								
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">公告类型：</label>

										<div class="input-group col-md-10">
												<input type="text" id="com-portal-noticeinfo-noticeType" name="noticeTypeId" class="form-control">
												
										</div>
										
										
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="form-group">
										<label class="col-md-2 control-label">内容：</label>

										<div class="input-group col-md-10 clear-white">
													<textarea id="com-portal-noticeinfo-noticemsg" class="form-control" name="noticeMsg" ></textarea>
										</div>
									</div>
								</div>
								<div class="col-md-12" id="com-staffmgr-staffinfo-job-isdefault-col">
									<div class="form-group">
										<label class="col-md-2 control-label">是否置顶：</label>

										<div class="input-group col-md-10">
												<input type="checkbox"  id="com-portal-noticeinfo-istop"  class="switch-btn" checked="" data-on-text="<span class='glyphicon glyphicon-ok'></span>" data-off-text="<span class='glyphicon glyphicon-remove'></span>">
												
										</div>
										
										
									</div>
								</div>
								
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" id="com-portal-noticeinfo-save">确定</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	</div>
</div>