<div class="modal-header">
	<h4 class="modal-title" id="ne_equip_title" >IP地址段合并</h4>
</div>
<div class="modal-body">
	<form id="ipaddr-segment-combine">
	<input type="hidden" id="ipseg_addr_id" name="ID">
	<input type="hidden" name = "startIp">
	<input type="hidden" name = "endIp">
	<input type="hidden" name = "ipMark">
	<input type="hidden" name = "segmCode">
	<input type="hidden" name = "useState">
	<input type="hidden" name = "serviceTypeId">
	<input type="hidden" name = "segmDesc">
	<input type="hidden" name = "roomId">
	<input type="hidden" name = "segmName">
	<input type="hidden" name = "parentCode">
	<input type="hidden" name = "roomName">
	<input type="hidden" name = "useStateName">
	<input type="hidden" name = "segmUseName">
	<input type="hidden" name = "segmUse">
	<input type="hidden" name = "gateway">
	<input type="hidden" name = "segmType">
	<input type="hidden" name = "adminName">
	<input type="hidden" name = "adminTel">
	<input type="hidden" name = "rsTypeId">
	<div class="row">
	</div>
	</form>
		<div class="col-md-10"  style="padding: 5px;">
			<div class="row">
				<div class="col-md-12" style="padding: 5px;">
					<div class="btn-group" style="margin-left: 15px">
						<button type="button" class="btn btn-primary pull-left" id="ipseg-combine-btn" style="margin-left: 5px">合并子网</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
				<div id="ipseg-combine-grid"></div>
		</div>
</div>
