<div class="modal-header">
	<h4 class="modal-title">策略方案映射管理</h4>
</div>
<form class="form-horizontal" id='isa_sap_oas_pla_pla_plan_planMapInfoForm'>
	<input class="form-control" type="hidden" id="isa_sap_oas_pla_pla_plan_id" name="isa_sap_oas_pla_pla_plan_id"/>
	<input class="form-control" type="hidden" id="isa_sap_oas_pla_pla_mapId" name="isa_sap_oas_pla_pla_mapId"/>
	<input class="form-control" type="hidden" id="isa_sap_oas_pla_pla_area_id" name="isa_sap_oas_pla_pla_area_id"/>
	<input class="form-control" type="hidden" id="isa_sap_oas_pla_pla_area_name" name="isa_sap_oas_pla_pla_area_name"/>
	<input class="form-control" type="hidden" id="isa_sap_oas_pla_pla_eleNumber" name="isa_sap_oas_pla_pla_eleNumber"/>
        <div class="panel-body" id="isa_sap_oas_pla_planMapInfoView_div">
        	 
        </div>
        <div class="panel-body" >
        	 <div class="col-md-12" id="isa_sap_oas_pla_pla_party_type_div">
                <div class="form-group">
                    <label class="col-md-2 control-label"><b>执行人类型</b></label>
                    <div class="col-md-8 input-group">
                        <input class="form-control" type="text" id="isa_sap_oas_pla_pla_party_type"
                         name="isa_sap_oas_pla_pla_party_type"  value="STA"  class="form-control" />
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        	  <div class="col-md-12" id="isa_sap_oas_pla_pla_party_div">
                <div class="form-group">
                    <label class="col-md-2 control-label"><b>执行人</b></label>
                    <div class="col-md-8 input-group">
                        <input class="form-control" type="text" id="isa_sap_oas_pla_pla_party"   name="isa_sap_oas_pla_pla_party"
                          class="form-control" />
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
            <div class="col-md-12" id="isa_sap_oas_pla_pla_alert_value_div">
        		 <div class="form-group">
                    <label class="col-md-2 control-label"><b>告警时限值</b></label>
                    <div class="col-md-8 input-group">
                        <input id="isa_sap_oas_pla_pla_alert_value" name="isa_sap_oas_pla_pla_alert_value"
                         class="form-control">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
        	</div>
            <div class="col-md-12"  id="isa_sap_oas_pla_pla_limit_value_div">
        		 <div class="form-group">
                    <label class="col-md-2 control-label"><b>完成时限值</b></label>
                    <div class="col-md-8 input-group">
                        <input id="isa_sap_oas_pla_pla_limit_value" name="isa_sap_oas_pla_pla_limit_value"
                         class="form-control">
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
        	</div>
            
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label"><b>备注</b></label>
                    <div class="col-md-8 col-sm-8 input-group clear-white">
                        <textarea id="isa_sap_oas_pla_pla_memo" name="isa_sap_oas_pla_pla_memo" 
                         class="form-control" style="height:80px"></textarea>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        	<div class="col-md-12 text-center">
	            <button type="button" class="btn btn-success" id="isa_sap_oas_pla_pla_btn"><b>确定</b></button>
	            <button type="reset" class="btn btn-danger btn-default" data-dismiss="modal" id="cancel-button"><b>取消</b></button>
        	</div>
        </div>
</form>