<div class="resourcecapacity-max-block">
	<div class="resourcecapacity-tile" style="height: 30px;font-size:18px;text-align:left;"><span style="line-height:30px;padding-left:10px">资源容量统计</span></div>
	<div style="height: calc(100% - 30px); width: 100%;">
		<div class="resourcecapacity-max-block" style="padding:10px 30px;">
		<div class="row resourcecapacity-cleanfix resourcecapacity-max-block resourcecapacity-max">
			<div
				class="col-md-12  resourcecapacity-cleanfix resourcecapacity-max-block" >
				<div class="row" style="margin: 0px; height: calc(50% - 12px);">
					<div class="resourcecapacity-frame resourcecapacity-title" title="机架tooltips">
						<span class="glyphicon icon-frame"></span> 
						<span class="resourcecapacity-frame-num">机架 65%</span>
					</div>
					<div class="resourcecapacity-phymachine resourcecapacity-title">
						<span class="glyphicon icon-physical-machine"></span> 
						<span class="resourcecapacity-phymachine-num">物理机 45%</span>
					</div>
					<div class="resourcecapacity-store resourcecapacity-title">
						<span class="glyphicon icon-storage"></span> 
						<span class="resourcecapacity-store-num">存储 48%</span>
					</div>
				</div>
				<div class="row" style="margin: 0px; height: 12px;">
					<div class="resourcecapacity-processbar"
						style="background-color: #025CC5; box-shadow: -1px 0px 3px #025CC5;">
						<div class="resourcecapacity-process resourcecapacity-frame-process"
							style="width: 65%; background-color: #0470EB;"></div>
					</div>
					<div class="resourcecapacity-processbar"
						style="background-color: #009DB3;">
						<div class="resourcecapacity-process resourcecapacity-phymachine-process"
							style="width: 45%; background-color: #09C7E2;"></div>
					</div>
					<div class="resourcecapacity-processbar"
						style="background-color: #AF9D02; box-shadow: 1px 0px 3px #AF9D02;">
						<div class="resourcecapacity-process resourcecapacity-store-process"
							style="width: 48%; background-color: #D7C10B;"></div>
					</div>
				</div>
				<div class="row" style="margin: 0px; height: calc(50% - 12px);">
					<div class="resourcecapacity-title"
						style="background-color: #B14495; box-shadow: -1px 0px 3px #C457AF;">
						<span class="glyphicon icon-net-topo"></span> 
						<span  class="resourcecapacity-ip-num">IP 70%</span>
					</div>
					<div class="resourcecapacity-title"
						style="background-color: #18BF56; border-left: #599A7C solid 2px;">
						<span class="glyphicon icon-bandwidth""></span> 
						<span class="resourcecapacity-brand-num">带宽 85%</span>
					</div>
					<div class="resourcecapacity-title"
						style="background-color: #C57610; box-shadow: 1px 0px 3px #A19F27; border-left: #A19F27 solid 2px;">
						<span class="glyphicon icon-system-management""></span> 
						<span class="resourcecapacity-virtual-num">虚机 40%</span>

					</div>
				</div>
				<div class="row" style="margin: 0px; height: 12px;">
					<div class="resourcecapacity-processbar"
						style="background-color: #9D327C; box-shadow: -1px 0px 3px #9D327C;">
						<div class="resourcecapacity-process resourcecapacity-ip-process"
							style="width: 70%; background-color: #D148A9;"></div>
					</div>
					<div class="resourcecapacity-processbar"
						style="background-color: #08A13C;">
						<div class="resourcecapacity-process resourcecapacity-brand-process"
							style="width: 85%; background-color: #12E15A;"></div>
					</div>
					<div class="resourcecapacity-processbar "
						style="background-color: #B96A04; box-shadow: 1px 0px 3px #B96A04;">
						<div class="resourcecapacity-process resourcecapacity-virtual-process"
							style="width: 40%; background-color: #EB8705;"></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>


</div>

