.fileUpload-select-btn {
	margin-top: 5px;
	margin-left: 10px;
}
.fileUpload-results {
	margin-top: 10px;
	margin-left: 10px;
}
.fileUpload-get {
	margin-left: 10px;
}
.fileUpload-delete {
	margin-left: 10px;
}