<div class="ui-dialog dialog-md">
    <div class="modal-header">
        <h4 class="modal-title">选择职位</h4>
    </div>
    <div class="modal-body">
    <div style="padding-top:15px">
        <div class="panel panel-default">
            <div class="panel-heading">职位列表</div>
            <div class="panel-body">
                <div id="login-job-list" class="list-group">
                    
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="login-job-save-button">确定</button>

    </div>
</div>