<div class="ui-dialog area-dialog">
	<div class="modal-header">
		<h4 class="modal-title">选择任务类型</h4>
	</div>
	<div class="modal-body" style="overflow: auto" id="nms_TypesTree_treeDiv">
		<div  id="nms_TypesTree" class="com-area-tree"></div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-info com-choose-area" id="nms_TypesTree_select">选择</button>
	<!-- 	<button type="button" class="btn btn-default com-close-area" id="nms_jobTypeTree_close">关闭</button> -->
	</div>
</div>