<div class="col-md-12">
	<div class="row">
		<form class="form-horizontal" id="importOrder-form">
			<div class="col-md-12">
				<div class="form-group">
					IOM报文：
					<div class="input-group col-md-12">
						<textarea  class="form-control" id="importOrder-xml"  name="importOrder-xml"   style="height: 450px;width:100%;"></textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary pull-right" id = "importOrder-import-btn">导单</button>
				</div>
			</div>
		</div>
	</div>
</div>
