/* 整体布局 */
#isaIndex {
	padding-left: 0px;
	padding-right: 10px;
}
#isaIndex-leftContainer {
	height: 100%;
	padding: 0px 10px 0px 0px;
	/* width: 560px; */
}
#isaIndex-topRightContainer {
	height: 30%;
	padding: 0px 0px 0px 0px;
}
#isaIndex-bottomRightContainer {
	height: 70%;
	padding: 10px 0px 0px 0px;
}

/* 模块边框与背景颜色 */
#isaIndex-leftPanel {
	height: 100%;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	background-color: #f5f5f5;
}
#isaIndex-topRightPanel {
	height: 100%;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
}
#isaIndex-bottomRightPanel {
	height: 100%;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	background-color: #f5f5f5;
}

/* 模块标题样式 */
.isaIndex-panelHeader {
	font-size: 16px;
	padding: 10px 0px 10px 10px;
	background-color: #f5f5f5;
}

/* Radio按钮样式 */
#isaIndex-radioBtns {
	padding: 13px 0px 10px 10px;
}

/* 常用按钮样式 */
#isaIndex-btnGroup {
	margin-top: 10px;
}
.isaIndex-btnIcon {
	height: 60px;
	width: 60px;
	border-radius: 5px;
	background-color: #0085ff;
	line-height: 60px;
	color: #ffffff;
	font-size: 30px;
	margin-bottom: 10px;
	margin-left: auto;
    margin-right: auto;
}
.isaIndex-btnIcon:hover {
	background-color: #0a7be2;
}
.isaIndex-btn {
	text-align: center;
}
.isaIndex-btn span {
	display: block;
}

/* 表格样式 */
#isaIndex-grid * {
	text-align: center;
}
#isaIndex-grid .jqgrow {
    background-color: transparent;
}
#isaIndex-grid .jqgrow:hover {
    background-color: #ffffff;
}
#isaIndex-grid .ui-jqgrid-view .ui-jqgrid-bdiv .ui-jqgrid-btable tr.jqgrow td {
    border: none;
}

/* 统计方块样式 */
#isaIndex-statSquareGroup {
	margin-left: -5px;
	margin-top: 0px;
	height: 13.3%;
}
.isaIndex-statSquareValue {
	font-size:22px;
}
.isaIndex-statSquare {
	height: 100%;
	width: 21%;
	color: #ffffff;
	text-align: center;
	margin-right: 20px;
}
.isaIndex-statSquare:last-child {
	margin-right: 0px;
}
#isaIndex-statSquareNormal {
	background-color: #0085ff;
}
#isaIndex-statSquareAlert {
	background-color: #abca02;
}
#isaIndex-statSquareOvertime {
	background-color: #dbaa00;
}
#isaIndex-statSquareSevereOT {
	background-color: #ea421b;
}

/* 饼图样式 */
#isaIndex-pieChartGroup {
	margin-top: 10%;
	height: 25%;
}
#isaIndex-planOrder, #isaIndex-maintenanceOrder, .isaIndex-pieChartRow {
	height: 100%;
}
#isaIndex-planOrderCompleteChart, #isaIndex-planOrderNotCompleteChart, #isaIndex-maintenanceOrderChart {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: -20px;
}

/* 折线图样式 */
#isaIndex-lineChartGroup {
	margin-top: 3%;
	height: 50%;
}
.isaIndex-100Height {
	height: 100%;
}
#isaIndex-patrolCheckChart {
	height: 100%;
	padding-left: 0px;
	padding-right: 0px;
}