<div id="cloud_sysMonitor_specialAlarmStatisView_container" style="width:100%;height:100%; text-align:center;">
	<div class="sysmonitorwidget-alarmmonitor-error-title sysmonitor-title" style="height:30px;line-height:30px;text-align:left;padding-left:15px;">
		<span>专业告警信息</span>
	</div>
	<div class="sysmonitorwidget-alarmmonitor-error-body clearfix" style="height:auto;padding-left:15px;padding-top: 10px;padding-bottom: 10px;">
		<div style="width:33%;height:100%;float:left;padding-right:15px;">
			<div class="sysmonitorwidget-alarmmonitor-netdev" style="width: 100%;padding-bottom: 100%;height: 0;">
				<div class="sysmonitorwidget-alarmmonitor-netdev-con"  style="display:inline;position:relative;top:27px;">
					<div style="font-size:15px;margin-bottom:11px">网络设备</div>
					<div class="sysmonitorwidget-alarmmonitor-netdev-num"  style="font-size:24px">102</div>
				</div>
			</div>
		</div>
		<div style="width:33%;height:100%;float:left;padding-right:15px">
			<div class="sysmonitorwidget-alarmmonitor-host" style="width: 100%;padding-bottom: 100%;height: 0;">
				<div class="sysmonitorwidget-alarmmonitor-host-con"  style="display:inline;position:relative;top:27px;">
					<div style="font-size:15px;margin-bottom:11px">主机</div>
					<div class="sysmonitorwidget-alarmmonitor-host-num"  style="font-size:24px">86</div>
				</div>
			</div>
		</div>
		<div style="width:33%;height:100%;float:left;padding-right:15px">
			<div class="sysmonitorwidget-alarmmonitor-netmonitor" style="width: 100%;padding-bottom: 100%;height: 0;">
				<div class="sysmonitorwidget-alarmmonitor-netmonitor-con"  style="display:inline;position:relative;top:27px;">
					<div style="font-size:15px;margin-bottom:11px">动环网络</div>
					<div class="sysmonitorwidget-alarmmonitor-netmonitor-num"  style="font-size:24px">246</div>
				</div>
			</div>
		</div>
	</div>
</div>